In [1]:
import numpy as np
import pandas as pd
import os
import cv2

In [2]:
df=pd.read_csv('D:/Datasets/Alphabet_Recognition/A_Z Handwritten Data.csv')

In [3]:
df.head()

,0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,...,0.639,0.640,0.641,0.642,0.643,0.644,0.645,0.646,0.647,0.648
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [17]:
y=df['0']

In [18]:
from tensorflow.keras.utils import to_categorical

In [19]:
y=to_categorical(y,num_classes=26)

In [20]:
y

array([[1., 0., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 1.],
       [0., 0., 0., ..., 0., 0., 1.],
       [0., 0., 0., ..., 0., 0., 1.]], dtype=float32)

In [6]:
X=df.drop('0',axis=1)

In [8]:
X=X/255

In [16]:
from sklearn.model_selection import train_test_split

In [21]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=.2)

In [22]:
X_train.shape, X_test.shape, y_train.shape,y_test.shape

((297960, 784), (74490, 784), (297960, 26), (74490, 26))

In [25]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [26]:
model=Sequential()
model.add(Dense(100,activation='relu',input_shape=(784,)))
model.add(Dense(50,activation='relu'))
model.add(Dense(50,activation='relu'))
model.add(Dense(26,activation='softmax'))

model.compile(loss='categorical_crossentropy',metrics=['accuracy'])

In [27]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 100)               78500

 dense_1 (Dense)             (None, 50)                5050

 dense_2 (Dense)             (None, 50)                2550

 dense_3 (Dense)             (None, 26)                1326

=================================================================
Total params: 87,426
Trainable params: 87,426
Non-trainable params: 0
_________________________________________________________________

In [28]:
model.fit(X_train,y_train,batch_size=32,epochs=20)

Epoch 1/20
9312/9312 [==============================] - 17s 2ms/step - loss: 0.3033 - accuracy: 0.9163
Epoch 2/20
9312/9312 [==============================] - 15s 2ms/step - loss: 0.1652 - accuracy: 0.9563
Epoch 3/20
9312/9312 [==============================] - 15s 2ms/step - loss: 0.1595 - accuracy: 0.9599
Epoch 4/20
9312/9312 [==============================] - 17s 2ms/step - loss: 0.1647 - accuracy: 0.9613
Epoch 5/20
9312/9312 [==============================] - 17s 2ms/step - loss: 0.1717 - accuracy: 0.9608
Epoch 6/20
9312/9312 [==============================] - 17s 2ms/step - loss: 0.1798 - accuracy: 0.9606
Epoch 7/20
9312/9312 [==============================] - 18s 2ms/step - loss: 0.1930 - accuracy: 0.9592
Epoch 8/20
9312/9312 [==============================] - 17s 2ms/step - loss: 0.2083 - accuracy: 0.9578
Epoch 9/20
9312/9312 [==============================] - 16s 2ms/step - loss: 0.2230 - accuracy: 0.9573
Epoch 10/20
9312/9312 [==============================] - 16s 2ms/step - loss: 0.2359 - accuracy: 0.9559
Epoch 11/20
9312/9312 [==============================] - 18s 2ms/step - loss: 0.2400 - accuracy: 0.9545
Epoch 12/20
9312/9312 [==============================] - 17s 2ms/step - loss: 0.2610 - accuracy: 0.9522
Epoch 13/20
9312/9312 [==============================] - 19s 2ms/step - loss: 0.2661 - accuracy: 0.9515
Epoch 14/20
9312/9312 [==============================] - 18s 2ms/step - loss: 0.2738 - accuracy: 0.9516
Epoch 15/20
9312/9312 [==============================] - 18s 2ms/step - loss: 0.2865 - accuracy: 0.9492
Epoch 16/20
9312/9312 [==============================] - 19s 2ms/step - loss: 0.2970 - accuracy: 0.9487
Epoch 17/20
9312/9312 [==============================] - 22s 2ms/step - loss: 0.3150 - accuracy: 0.9467
Epoch 18/20
9312/9312 [==============================] - 22s 2ms/step - loss: 0.3362 - accuracy: 0.9437
Epoch 19/20
9312/9312 [==============================] - 22s 2ms/step - loss: 0.3636 - accuracy: 0.9408
Epoch 20/20
9312/9312 [==============================] - 22s 2ms/step - loss: 0.3845 - accuracy: 0.9370

# Prediction/Testing the model

In [85]:
inp=X_test.iloc[10090]
y_act=y_test[10090]

In [86]:
(y_act).argmax()

9

In [87]:
inp.shape

(784,)

In [88]:
inp=inp.values.reshape(1,784)

In [89]:
ch=(model.predict(inp)).argmax()

1/1 [==============================] - 0s 19ms/step

In [90]:
ch

9

In [91]:
lst=[]
for i in range(97,122):
    lst.append(chr(i))

In [92]:
print('Predicted character is '+lst[ch])

character is j